body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    position: absolute;
    font-family: 'planet-kosmos';
    left: calc(2% + 40px);
    top: 2%;
    font-size: calc(2vw);
}

canvas {
    position: absolute; 
    width: 100vw;
    height: 100vh;
    z-index: 0;
}



.nav-bar {
    position: absolute;
    display: flex;
    top: 0;
    width: 80%;
    height: 15%;
    gap: 2rem;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    flex-wrap: wrap;
}

.nav-bar__logo {
    font-family: 'planet-kosmos';
    font-size: calc(1.5vw + 1rem);
    text-decoration: none;
    color: black;
    text-decoration: underline;
}

.nav-bar__links {
    display: flex;
    gap: 2rem;
    font-size: calc(1vw + 0.5rem);
    list-style: none;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.nav-bar__link {
    text-decoration: none;
    color: black;
}


.headline-entry-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    align-items: center;
    justify-content: center;
}

.headline-entry {
    display: flex;
    background-color: rgba(200, 200, 200, 0.3);
    border-radius: 15px;
    padding: 30px;
    width: 20%;
    height: 20%;
    backdrop-filter: blur(2px);
    border: 1px solid rgba(200, 200, 200, 0.3);
    transform: scale(1);
    transition: all 0.2s ease-in-out;
    align-items: center;
    justify-content: center;
}

.headline-entry:hover {
    background-color: rgba(200, 200, 200, 0.5);
    border: 1px solid rgba(200, 200, 200, 0.5);
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}


.headline-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    border-radius: 15px;
    opacity: 0.8;
}


.scroller {
    position: absolute;
    display: flex;
    left: 0;
    height: 100vh;
    width: 5%;
    max-width: 40px;
    background-color: black;
    z-index: 1;
    justify-content: center;
}

.scroller-content {
    margin: 0;
    padding: 0;
    padding-inline: 0;
    list-style: none;
    white-space: nowrap;
}

.scroller__inner {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8rem; /* IMPORTANT: tied to scroll animation (see @keyframes scroll) */
    writing-mode: vertical-lr;
    color: white;
    /* adjust font size to be a third of the width of the scroller*/
    font-size: clamp(calc(0.33 * 3vw), calc(0.33 * 40px), 2rem);
}

.scroller[data-animated="true"] {
    overflow: hidden;
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    animation: scroll 45s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateY(-50%)
    }
    to {
        transform: translateY(calc(0% + 4rem)); /* add half the gap from .scroller__inner */
    }
}

@font-face {
    font-family: 'planet-kosmos';
    src: url(fonts/planet-kosmos.regular.woff2) format('woff2');
}