.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
}

.card {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px) saturate(150%);
    -webkit-backdrop-filter: blur(2px) saturate(150%);
    border-radius: 1rem;
    padding: 1.5rem;
    color: inherit;
    text-decoration: none;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
    transition: all 0.25s ease-in-out;
    background-image: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.25),
        rgba(100, 100, 170, 0.15)
    );
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

.card:hover .cardThumbnail {
    opacity: 0.8;
}

.cardThumbnailContainer {
    border-radius: 0 0 1rem 1rem;
    width: calc(100% + 3rem);
    margin-left: -1.5rem;
    margin-bottom: -1.5rem;
    height: 10rem;
    object-fit: cover;
    overflow: hidden;
}

.cardThumbnail {
    width: 100%;
    object-fit: cover;
    transform: translateY(-20%);
    opacity: 0.20;
    transition: opacity 0.3s ease;
}

.cardIcon {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    vertical-align: -0.4rem;  /* align with text */
    object-fit: contain;
}

.thumbnail {
    bottom: 0;
    width: 100%;
    border-radius: 0.5rem;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
}

.tool {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
}

.toolContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.verticalLong {
    grid-row: span 2;
}
